<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>日历排表</title>
    <link rel="stylesheet" type="text/css" href="./css/css.css">

</head>
<body style="background: #fff;">
<!--日历-->
<div style="width: 62%;height: 342px;margin: 30px auto;float: left;" id="rili">
    <div id='calendar'></div>
</div>
<div style="width: 35%;height: 342px;margin: 30px auto;float: left;" id="memo">
    <div class="todo_list">
        <div class="top">
            <div class="title">
                <h2>备忘</h2>
            </div>
            <div class="search">
                <input type="text" id="todo" onkeyup="this.value=this.value.replace(/[, ]/g,'')">
                <button id="add">添加</button>
            </div>
        </div>
        <div class="head">
            <div class="list">
                <div class="left">
                    <h3>事项</h3>
                </div>
                <div class="time">
                    <h3>时间</h3>
                </div>
                <div class="operation">
                    <h3>操作</h3>
                </div>
            </div>
        </div>
        <div class="todo-content">
        </div>
    </div>
</div>
<script src="../lib/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
<script>
</script>
</body>
</html>